/*MAX*/
/*@media screen and (max-width:767px){

#logo {
	text-align: center;
}

}*/

/*MINS*/

@media screen and (min-width: 500px) {

	.titulo {
		font-size: 3em;
	}
	.nombreProducto .rutaProducto {
	margin-left: 20px;
}

}
@media screen and (min-width: 768px) {
	#menuLateral {
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	width: 100%;
	box-shadow: 
	}

.detalleTejas {
	max-width: 100%;
}
.tagsindex {
	text-align: left;
}
header#index {
/*	height: 40%*/
}

}
@media screen and (min-width: 992px) {
	#menuLateral {
	/*width: 27%;*/
	}

	}

@media screen and (min-width: 1200px){
	header#index {
background: url('../img/bg-destock-exlg.jpg') no-repeat bottom center;
background-size: cover;
}
	#menuLateral {
	/*width: 20%;*/
	}
}

/*@media screen and (min-width: 320px) and (max-width: 539px) and (orientation:portrait){
header {
	
}

}
@media screen and (min-width: 540px) and (max-width: 766px){
	#detalleTejas img {
	max-width: 50%;

}

}

@media screen and (min-width: 767px) and (max-width: 1199px){
	 @media screen and (orientation:portrait) { 
header {
	height: 50%
}
  }
header {
	background-position: bottom center;
}
#detalleTejas {
		max-width: 70%;

	margin-top: 40px;
}
}



*/