@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body, html {
	height: 100%;
/*	font-size: 16px;
*/	font-family: 'Open Sans', sans-serif;
color: gray
	

}
.panel {
/*border: none;*/
/*box-shadow: none*/

}
#raya {
	height: 3px;
	background-color: #e79a41
}
header#index {
background: url('../img/bg-destock.jpg') bottom center no-repeat;
background-size: cover;
margin-bottom: 30px;
/*height: 70%*/
}
.menuxs {
	background-color: #f6f6f6;
	padding-bottom: 48px
}
.logo-xs {
	width: 50%;
	margin-top: -7px;
}
.margen1 {
	margin-bottom: 20px
}
header#interior {
background: url('../img/bg-destock.jpg') no-repeat center center;
background-size: cover;
/*height: 30%*/
}
.block {
	display: inline-block;
	 	position: relative;
 	vertical-align: top
}
#detalleTejas, .tagIndex {
		display: inline-block;
		background-color: red
}
.detalleTejas {
	max-width: 60%;
	margin-top: 5px;
	margin-bottom: 5px;

}
.imgindex {
	text-align: center;
}
.tagsindex {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
#logo {
	text-align: center
}
#logo img {
	max-width: 100%
}
 .menu {
 	text-align: right;
 	font-weight: 300;
padding-top: 30px

 }
 .inline {
 	display: inline-block !important;

 }
 ul {
 	padding-left: 0px !important;
 }
.menu ul {
list-style: none;
margin: 0px;
padding: 0px;



}
#verMenuLateral {
	border: solid white 1px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	background: rgba(0,0,0,0.2);

}
.menu li {
	display: inline;
	padding-left: 10px;
	font-size:1.2em;
}
.menu li.separador:after{
	content: "l";
	margin-left: 10px;
	color: white;
}
.menu a{
	color: white;
}
/*COLORES DE FUENTE*/
.pie{
 font-size: 0.8em;
 color: #989898;
}
.fblanca {
	color: white;
}
.fnaranja{
	color: #ff6914;
}
.titulo {
	font-size: 1.5em;
}
.subtitulo {
	font-size: 1.2em;
	background-color: orange;
	display:inline-block;
	padding: 5px;

}
.banner {
	margin-bottom: 15px
}
.banner p {
	margin: 0 0 0px;
	line-height: 1em;
}
h3 {
	font-size: 1.2em;
	font-weight: 700;
}
.panel {
	background-color: #f8f8f8;
}
.lateral {
	height: 100%
}
#menuLateral {
	   
	z-index: 50;
	background-color: #f8f8f8;
	position: absolute;
	width: 80%;
	/*max-width: 350px;*/
/*	width: 100%;*/
	margin-left: -15px;
	top: 31%;
	bottom: 0px;
	height: 100%
	
		-webkit-transition-duration: .25s;
    transition-duration: .25s;

}
/*.muyalto {
	height: 125%
}*/
.container.gris {
	background-color: #f8f8f8
}
.fblanco {
	background: white
}
.muyalto {
	height: 125%
}
.oculto {
    -webkit-transform: translate3d(-210%, 0, 0);
    transform: translate3d(-210%, 0, 0);

}

.manuLaretal-link {
	display:block;
	padding: 15px 10px 0px 10px;

}
.manuLaretal-link:after {
	content: "";
	display: block;
	height: 1px;
	background-color: #d2d2d2;
	margin-top: 10px;
}
.subMenuLateral li:after {
		content: "";
	display: block;
	height: 1px;
	background-color: #d2d2d2;
	margin-top: 4px;
}
.subMenuLateral a {
	display: block
}
/*NAVBAR*/

.navbar-nav > li:nth-child(2n+1) {
	background-color: #ededed
} 
/*.manuLaretal-link:hover, #menuLateral a:hover{
	background-color: #eeeeee;
	text-decoration: none
}*/
.manuLaretal-lista li {
	list-style: none;
		padding: 5px;

}
/*#menuLateral a {
	color: gray

}*/
.submenu {
	font-weight: bold
}

#menuLateral h5 {
	background-color: #ededed;
	display: block;
	padding: 0.8em
}

nav h4 {
	font-size: 1em;

}
.panel > a {
	background: #c0c0c0;
	color: white;
	font-weight: bold
}
.panel > a:hover {
	background: gray
}
.panel .manuLaretal-lista h5 {
	margin-top: 0px
}
/*detalleProductos*/
#detalleProductos {

}

/*VISTA DE LOS PRODUCTOS*/

.nombreProducto h2 {
	color: #ff6914;
	font-weight: 700;
	display: inline-block;
	font-size: 3em;
}
.nombreProducto .rutaProducto {
	color: gray;
	display: inline-block;
	
}

.subtitutlo {
	font-weight: 700;
	font-size: 1.3em

}
.tabas {
	margin-top: 30px;
}
.pdf{
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-loader {
	display: none
}















